@{
    ViewData["Title"] = "Add a Review a Service";
}

<h1>Add a Review</h1>

<form method="post">
    <input type="hidden" id="Id" name="Id" value="@ViewData["Id"]" />
    <select id='ReviewType' name="ReviewType"></select>
    <br/>
    <textarea id="Comment" name="Comment" cols="40" rows="5" maxlength="250"></textarea>
    <br/>
    <button type="button" id="submit" type="submit" name="submit">Submit</button>
</form>

<script>
    $( document ).ready(function() {
        $.get( "/api/Rating", function( data ) {
            var services = data;
            
            $("#ReviewType").empty();

            $.each(services, function(index, value) {
                $("#ReviewType").append('<option value="'+value.id+'">'+value.englishLabel+'</option>')
            });
            
        });
        
        $( "#submit" ).click(function() {
        
            var payload = {
                serviceId: @ViewData["Id"],
                comment: $("#Comment").val(),
                ratingId: parseInt($("#ReviewType").val())
            }
        
            $.ajax({
              url: '/api/Review',
              'contentType': 'application/json',
              dataType: 'json',
              type: 'PUT',
              data: JSON.stringify(payload),
              success: function(data) {
                alert('Comment has been submitted.');
              }
            });
        });
    });
</script>