<h1>Design</h1>

<h2>Business</h2>

<div class="alert alert-warning">
   <p>
    This sample application had no form of Business Architecture occur. Normally analaysis of Stakeholder needs would occur, and that a Gender Based Analysis Plus lens be applied to ensure that the structure of the Business Process had value in becoming a technology.  
    For more information on applying Business Architecture please visit <a href="https://wiki.gccollab.ca/GC_Enterprise_Business_Architecture">here</a>.
   </p>
</div>

<p>The Department is looking for a new online application for users to rate their online experience and provide feedback after they have consumed one of its online services. </p>

<h2>Information</h2>

<h2>Application</h2>

<p>The Application layer is .NET Core 3.0 leveraging Core Identity Provider, and Entity Framework Core for abstraction of Identity and Database.</p>

<h2>Technology</h2>

<p>The technology layer consists of a Cloud Agnostic platform allowing this to be deployed in any environment with relative ease as long as it supports .NET Core. For this specific example AWS was used to host the Database and Application, but any provider would work.</p>

<h2>Security and Privacy</h2>